.Contenedor{
    background-image: url("fondo3.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    height: 100%;
}
.Imagen{
    height: 100%;
    width: 100%;
}
.Users{
    background-color: darkslategrey;
    margin-top: 10px;
}
.Input{
    background-color: darkslategrey;
    color:white;
    border: none;
    width: 100%;
}

input{
    padding-left: 12px;
    padding-bottom: 8px;
    margin-top: 5px;
}
input.Input::placeholder { 
    color: white;
    opacity: 1; 
  }
input.Input:focus{
    color: gray;
}
.Card:hover{
    border-style: solid;
    border-color:#222;
    border-width: 3px;
    border-radius: 15px;
}
.Jumbotron {
    background-image: url('fondo5.jpg'), linear-gradient(rgba(255,0,0,0), rgb(20, 20, 20));;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
div.FondoContacto{
    background-color:gray;
}
.TextBanner{
    font-size: large;
}
.Alert{
    text-align: center;
}
h1.ProTitle {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}