@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

#Home{
	background-color: lightgrey; 
}

div.home{
	width: 100%;
	height: 200px;
	background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg);
	transition: width 2s, height 4s, font-size 3s;
	margin: auto;
	padding: 0;
	color: azure;
	font-size: 50px;
}
div.home:hover{
	height: 500px;
	width: 100%;
}

header.home{
	text-align: center;
}

div.Hometexto{
	margin: 20px;
	border: solid #057204 2px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
}
div.home:hover .Hometexto{
	transition: all, 3s;
}


.Titulos {
	font-style: oblique;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
